.style{
    height: 400px;
    width: 700px;
    /* background-color: lightcyan; */
    border-radius: 10px;
    box-shadow: lightslategray;
    margin-left: 30px;
}


.users {
    margin: 2rem auto;
    width: 90%;
    max-width: 40rem;
  }
  
  ul {
    list-style: none;
    padding: 1rem;
  }
  
  li {
    border: 1px solid #ccc;
    margin: 0.5rem 0;
    padding: 0.5rem;
  }

  .name{
      padding-right: 50px;
  }

  .sdate{
    padding-right: 50px;
}

.edate{
    padding-right: 10px;
}

.id{
    padding-right: 50px;
}

  /* form */

  input {
    margin: 2rem auto;
    padding: 1rem;
    width: 90%;
    max-width: 40rem;
    text-align: left;
    
  }
  
   label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
    margin-left: 20px;
  }
  
 input {
    font: inherit;
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    padding: 0.50rem;
    margin-bottom: 0.5rem;
    border-radius: 7px;
  }
  
   input:focus {
    outline: none;
    border-color: #4f005f;
  }
  button{
      border-radius: 5px;
      padding: 5px;
      color: red;
      margin-left: 30px;

  }